<div>
  <input type="text" class="form-control" placeholder="Title" [(ngModel)]="title" #titleInput/>
  <input type="text" class="form-control" placeholder="Text" [(ngModel)]="text"/> <!-- ng model makes twoside connection -->

 
<!-- <input type="text" class="form-control" placeholder="Sync1" [(ngModel)]="sync"/>
  <input type="text" class="form-control" placeholder="Sync2" [(ngModel)]="sync"/> -->
  <button (click)="addPost()" class="btn">Add post</button>
  <button (click)="focusTitle()" class="btn">Focus title</button>
</div>
